{% extends "staff.html" %}
{% load i18n %}
{% block title %}
Product List
{% endblock %}

{% block top_content %}
<div class="sm:ml-64 text-center py-2 px-2">
    <p class="text-3xl">Prodcut List</p>
</div>
{% endblock top_content%}
{% block main_content %}
<div class="sm:ml-64 p-2">
    <div class="text-end mx-[8%]"><a href="{% url "product_add" %}" class="block"><i class="fa-solid fa-square-plus fa-2xl hover:text-sky-800"></i></a></div>
</br>
    {% if products %}
    <div class="flex justify-center">
        <table class="table-auto w-[80%] border border-gray-300">
            <thead>
                <tr>
                    <th class="px-4 py-2 border border-gray-300">ID</th>
                    <th class="px-4 py-2 border border-gray-300">Image 1</th>
                    <th class="px-4 py-2 border border-gray-300">Name</th>
                    <th class="px-4 py-2 border border-gray-300">Price</th>
                    <th class="px-4 py-2 border border-gray-300">Status</th>
                    <th class="px-4 py-2 border border-gray-300">See More</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                  <td class="px-4 py-2 border border-gray-300">{{product.id}}</td>
                  <td class="px-4 py-2 border border-gray-300">
                    {% with product.images.all|first as main_image %}
                        {% if main_image %}
                            <div class="flex justify-center"><img src="{{ main_image.image.url }}" alt="{{ main_image.alt }}" class="block w-[300px] object-cover"></div>
                        {% else %}
                            <span>No image available</span>
                        {% endif %}
                    {% endwith %}
                  </td>
                    <td class="px-4 py-2 border border-gray-300">{{product.pname}}</td>
                    <td class="px-4 py-2 border border-gray-300">$ {{product.price}}</td>
                    <td class="px-4 py-2 border border-gray-300">{{product.status}}</td>
                    <td class="px-4 py-2 border border-gray-300 text-center hover:text-sky-800"><a href="{% url "product_detail" product.pk %}"><i class="fa-solid fa-square-pen"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>There are 0 product in the record.</p>
    {% endif %}
</div>
{% endblock main_content%}

{% block footer %}
<footer class="h-auto  mt-30"><p class="text-center">&copy;2025 Variety Shop</p></footer>
{% endblock footer %}
