{% extends "staff.html" %}
{% block title %}
Delete Product
{% endblock %}
{% block top_content %}
<div class="sm:ml-64 text-center py-2 px-2">
    <p class="text-3xl">{{product.pname}}</p>
</div>
{% endblock top_content%}
{% block main_content %}
<div class="sm:ml-64 p-2 flex flex-col items-center justify-center gap-4 my-auto">
    <h2 class="text-lg">Confirm Deletion</h2>
    <p class="text-2xl">Are you sure you want to delete this product?</p>
    
    <h3 class="font-bold text-2xl">{{ product.pname }}</h3>
    {% for item in images %}
    <div>
        <img src="{{ item.image.url }}" alt="{{ item.alt }}" class="w-32 h-32 object-cover">
    </div>
    {% endfor %}

    <div class="flex gap-6">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
        </form>
        <a href="{% url 'products' %}" class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded">Cancel</a>
    </div>
</div>
{% endblock %}
