{% extends "staff.html" %}
{% load i18n %}
{% block title %}
User Detail
{% endblock %}

{% block top_content %}
<div class="sm:ml-64 text-center py-2 px-2">
    <p class="text-3xl">User Detail</p>
</div>
{% endblock top_content%}
{% block main_content %}
<div class="sm:ml-64 p-2">
  <table class="table-auto w-auto border mx-auto border-gray-300">
    <tbody>
        <tr>
            <th class="px-4 py-2 border border-gray-300 text-left">ID</th>
            <td class="px-4 py-2 border border-gray-300">{{ user.id }}</td>
        </tr>
        {% if request.user.role != "CUSTOMER" %}
        <tr>
            <th class="px-4 py-2 border border-gray-300 text-left">Role</th>
            <td class="px-4 py-2 border border-gray-300">{{ user.role }}</td>
        </tr>
        {% endif %}
        <tr>
          <th class="px-4 py-2 border border-gray-300 text-left">Email</th>
          <td class="px-4 py-2 border border-gray-300">{{ user.email }}</td>
      </tr>
        <tr>
            <th class="px-4 py-2 border border-gray-300 text-left">Username</th>
            <td class="px-4 py-2 border border-gray-300">{{ user.username }}</td>
        </tr>
        <tr>
            <th class="px-4 py-2 border border-gray-300 text-left">Name</th>
            <td class="px-4 py-2 border border-gray-300">{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
        <tr>
            <th class="px-4 py-2 border border-gray-300 text-left">Joined on</th>
            <td class="px-4 py-2 border border-gray-300">{{ user.date_joined|date:"Y-m-d" }}</td>
        </tr>
        <tr>
            <th class="px-4 py-2 border border-gray-300 text-left">Address</th>
            <td class="px-4 py-2 border border-gray-300">{{user.postal_code}}</br>{{ user.address }}</td>
        </tr>
    </tbody>
  </table>
  <div class="flex justify-center mt-6">
    <a href="{% url "user_edit" user.pk %}" class="font-bold text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Edit</a>
    <a href="{% url "user_delete" user.pk %}" class="font-bold text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:ring-rose-300 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-rose-600 dark:hover:bg-rose-700 focus:outline-none dark:focus:ring-rose-800">Delete</a>
  </div>
</div>
{% endblock main_content%}

{% block footer %}
<footer class="h-auto  mt-30"><p class="text-center">&copy;2025 Variety Shop</p></footer>
{% endblock footer %}
