{% extends "base.html" %}
{% load i18n %}
{% block title %}
User List
{% endblock %}
{% block nav %}
    <div class="flex">
        <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-sky-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-sky-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open sidebar</span>
        </button>
        
        <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-6 overflow-y-auto bg-sky-50 dark:bg-sky-800 text-center">
            <ul class="space-y-2 font-medium text-start">
                <li>User: {{user.get_username}}</li>
                <li>
                    <a href="{% url "staff_home" %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-sky-100 dark:hover:bg-sky-700 group">
                        <i class="fa-solid fa-chart-pie"></i>
                        <span class="ms-3">Home</span>
                    </a>
                </li>
                <li>
                    <a href="" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-sky-100 dark:hover:bg-sky-700 group">
                        <i class="fa-solid fa-users"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Users</span>
                    </a>
                </li>
                <li>
                    <a href="" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-sky-100 dark:hover:bg-sky-700 group">
                        <i class="fa-solid fa-gifts"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Products</span>
                    </a>
                </li>
                <li>
                    <a href="" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-sky-100 dark:hover:bg-sky-700 group">
                        <i class="fa-solid fa-receipt"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Genres</span>
                    </a>
                </li>
                <li>
                    <a href="" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-sky-100 dark:hover:bg-sky-700 group">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Carts</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-sky-100 dark:hover:bg-sky-700 group">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Log In</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'signup' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-sky-100 dark:hover:bg-sky-700 group">
                        <i class="fa-solid fa-user-plus"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Sign Up</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-sky-100 dark:hover:bg-sky-700 group">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span class="flex-1 ms-3 whitespace-nowrap">Log Out</span>
                    </a>
                </li>
            </ul>            
        </div>
        </aside>
    </div>
{% endblock %}

{% block top_content %}
<div class="sm:ml-64 text-center py-2 px-2">
    <p class="text-3xl">User List</p>
</div>
{% endblock top_content%}
{% block main_content %}
<div class="sm:ml-64 p-2">
    {% if users %}
        <table class="table-auto w-full border border-gray-300">
            <thead>
                <tr>
                  <th class="px-4 py-2 border border-gray-300">ID</th>
                    <th class="px-4 py-2 border border-gray-300">Role</th>
                    <th class="px-4 py-2 border border-gray-300">Username</th>
                    <th class="px-4 py-2 border border-gray-300">Name</th>
                    <th class="px-4 py-2 border border-gray-300">Joined on</th>
                    <th class="px-4 py-2 border border-gray-300">See More / Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                  <td class="px-4 py-2 border border-gray-300">{{user.id}}</td>
                    <td class="px-4 py-2 border border-gray-300">{{user.role}}</td>
                    <td class="px-4 py-2 border border-gray-300">{{user.username}}</td>
                    <td class="px-4 py-2 border border-gray-300">{{user.first_name}} {{user.last_name}}</td>
                    <td class="px-4 py-2 border border-gray-300 text-end">{{user.date_joined |date:"Y-m-d"}}</td>
                    <td class="px-4 py-2 border border-gray-300 text-center hover:text-sky-800"><a href="{{ user.get_absolute_url }}"><i class="fa-solid fa-square-pen"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>There are 0 user in the record.</p>
    {% endif %}
</div>
{% endblock main_content%}

{% block footer %}
<footer class="h-auto  mt-30"><p class="text-center">&copy;2025 Variety Shop</p></footer>
{% endblock footer %}
