{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}
Reset Password
{% endblock %}

{% block top_content %}{% endblock top_content %}

{% block main_content %}
<div class="mt-10 lg:px-50 px-10 flex flex-col align-center justify-between w-full h-[150px] text-center ps-reset">
    <div class="text-start bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
        <p>{% trans "We've emailed you instructions for setting your password. If they haven't arrived in a few minuites, check your spam folder."%}</p>
    </div>
</div>

<a href="{% url "home" %}" class="mt-10 underline lg:ms-50 ">{% trans "Go back to Home" %}</a>

{% endblock %}