{% extends "index.html" %}
{% load static %}
{% load i18n %}


{% block top_content %}
<h2 class="mt-5 text-center text-4xl">{%trans "Reset Password"%}</h2>
{% endblock top_content %}

{% block main_content %}
<div class="w-full mt-10 px-10 lg:flex lg:justify-center lg:align-center">
  <form action="" method="post" class="lg:w-md flex flex-col justify-center align-center">
    {% csrf_token %}

    {% if form.email.errors %}
    <div class="text-red-500 text-sm mb-4">
      {{ form.email.errors }}
    </div>
    {% endif %}

    <div class="mb-4 w-full mt-5">
      <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">
        Email Address
      </label>
      <input 
        type="email" 
        name="{{ form.email.name }}" 
        id="{{ form.email.id_for_label }}" 
        class="block w-full px-4 py-2 shadow-lg shadow-stone-250/50 border border-stone-300 appearance-none rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
        required>
    </div>

    <div class="text-center lg:mt-10">
      <input 
        type="submit" 
        value="{% trans "Send an email to reset password"%}" 
        class="bg-emerald-400 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
    </div>
  </form>
</div>
{% endblock %}
